<!-- Toolbar -->
<h2>Filter Checklist
  <div class="btn-group" role="group" aria-label="Journey">
    <button type="button" class="btn btn-secondary" data-ng-toggle="1">NG</button>
    <button type="button" class="btn btn-primary" data-ng-toggle="2">NG+</button>
    <button type="button" class="btn btn-primary" data-ng-toggle="3">NG++</button>
  </div>
</h2>

<div class="btn-group me-3">
  <div class="btn-group" ngbDropdown role="group" aria-label="Button group with nested dropdown">
    <button type="button" class="btn btn-outline-danger" ngbDropdownToggle>Quests</button>
    <div class="dropdown-menu" ngbDropdownMenu>
      <button ngbDropdownItem>Bosses</button>
      <button ngbDropdownItem>Missable</button>
      <button ngbDropdownItem>NPCs</button>
    </div>
  </div>
  <div class="btn-group" ngbDropdown role="group" aria-label="Button group with nested dropdown">
    <button type="button" class="btn btn-outline-success" ngbDropdownToggle>Upgrades</button>
    <div class="dropdown-menu" ngbDropdownMenu>
      <button ngbDropdownItem>Estus Shards</button>
      <button ngbDropdownItem>Undead Bone Shards</button>
      <button ngbDropdownItem>Scrolls / Tomes</button>
      <button ngbDropdownItem>Coals</button>
      <button ngbDropdownItem>Ashes</button>
    </div>
  </div>
  <div class="btn-group" ngbDropdown role="group" aria-label="Button group with nested dropdown">
    <button type="button" class="btn btn-outline-success" ngbDropdownToggle>Achievements</button>
    <div class="dropdown-menu" ngbDropdownMenu>
      <button ngbDropdownItem>Gestures</button>
      <button ngbDropdownItem>Sorceries</button>
      <button ngbDropdownItem>Pyromancies</button>
      <button ngbDropdownItem>Miracles</button>
      <button ngbDropdownItem>Rings</button>
    </div>
  </div>
  <div class="btn-group" ngbDropdown role="group" aria-label="Button group with nested dropdown">
    <button type="button" class="btn btn-outline-success" ngbDropdownToggle>Gear</button>
    <div class="dropdown-menu" ngbDropdownMenu>
      <button ngbDropdownItem>Weapons</button>
      <button ngbDropdownItem>Armors</button>
    </div>
  </div>
  <div class="btn-group" ngbDropdown role="group" aria-label="Button group with nested dropdown">
    <button type="button" class="btn btn-outline-success" ngbDropdownToggle>Materials</button>
    <div class="dropdown-menu" ngbDropdownMenu>
      <button ngbDropdownItem>Titanite Shards</button>
      <button ngbDropdownItem>Gems</button>
    </div>
  </div>
  <div class="btn-group" ngbDropdown role="group" aria-label="Button group with nested dropdown">
    <button type="button" class="btn btn-outline-success" ngbDropdownToggle>Others</button>
    <div class="dropdown-menu" ngbDropdownMenu>
      <button ngbDropdownItem>Convenants</button>
      <button ngbDropdownItem>Misc. Items</button>
    </div>
  </div>
</div>

<h2>Playthrough Checklist <span id="playthrough_overall_total"></span></h2>
<ul class="table_of_contents">
  <li><a href="#Cemetery_of_Ash">Cemetery of Ash</a> <span id="playthrough_nav_totals_17"></span></li>
  <li><a href="#new_game">New Game</a> <span id="playthrough_nav_totals_1"></span></li>
  <li><a href="#new_game_p">New Game+</a> <span id="playthrough_nav_totals_2"></span></li>
  <li><a href="#new_game_pp">New Game+2</a> <span id="playthrough_nav_totals_3"></span></li>
  <li><a href="#queelag">Soul of Chaos witch Queelag</a> <span id="playthrough_nav_totals_4"></span></li>
  <li><a href="#moonlight_butterfly">Soul of the Moonlight Butterfly</a> <span id="playthrough_nav_totals_5"></span></li>
  <li><a href="#iron_Golem">Core of the Iron Golem</a> <span id="playthrough_nav_totals_6"></span></li>
  <li><a href="#gwyndolin">Soul of Gwyndolin</a> <span id="playthrough_nav_totals_7"></span></li>
  <li><a href="#ornstein">Soul of Ornstein</a> <span id="playthrough_nav_totals_8"></span></li>
  <li><a href="#smough">Soul of Smough</a> <span id="playthrough_nav_totals_9"></span></li>
  <li><a href="#priscilla">Soul of Priscilla</a> <span id="playthrough_nav_totals_10"></span></li>
  <li><a href="#gwyn">Soul of Gwyn, Lord of Cinder</a> <span id="playthrough_nav_totals_11"></span></li>
  <li><a href="#great_sif">Soul of Great Grey Wolf Sif</a> <span id="playthrough_nav_totals_12"></span></li>
</ul>

<h2>Playthrough Checklist <span id="playthrough_overall_total"></span></h2>
<ul class="table_of_contents" *ngFor="let item of data.playthrough; index as i">
  <li><a href="#{{ item.title | encodeFragment | lowercase }}">{{ item.title }}</a> <span id="playthrough_nav_totals_{{ i }}"></span></li>
</ul>

<div class="form-group">
  <input type="search" id="playthrough_search" class="form-control" placeholder="Start typing to filter results..." />
</div>

<div>
  I recently completed Dark Souls Remastered 100% by earning the "the dark soul" achievement. Since I found it very hard to find a complete guide online, I took it upon myself to create one. A few things right off the bat though:
  <ol>
    <li>I will not be including the location of all the titanite chunks (colored as well as regular) needed. However, they can easily be farmed from the Black knights in the Kiln of the first flame.</li>
    <li>I suggest you get all of the spells in new game + since you'll have far more souls than you'll have in new game.</li>
    <li>In total you'll require 216 titanite shards, 163 large titanite shards, 27 titanite chunks, 3 titanite slabs, 17 of every colored titanite chunk, 2 of every colored titanite slab as well as 31 green titanite shards. Look at this page to learn all about titanite farming as well as all of the locations of the slabs you'll need.</li>
    <li>You'll have to play through the game 2 1/2 times to get all the boss souls required for all of the boss weapons. I will add a chart to what weapons you need for ascencion to boss weapons at the end of the guide.</li>
    <li>For the sake of this guide I'll assume that your weapons are upgraded as well as they possibly can be from the point you meet Andre on. I will also assume that you have enough souls to purchase all of the items required to get all of the achievements.</li>
  </ol>
  Without further ado, let's get into the guide!
</div>

<div id="playthrough_list">
  <div *ngFor="let item of data.playthrough">
    <app-collapsable-list [data]="item" [options]="{ isCollapsed: false }"></app-collapsable-list>
  </div>
&#x200B;

</div>
