<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <!-- your navs bound to current route fragments -->
    <ul ngbNav [activeId]="route.fragment | async" class="navbar-nav mr-auto">
      <li [ngbNavItem]="link.path" *ngFor="let link of links" routerLinkActive="active" class="nav-item">
        <a ngbNavLink routerLink="{{ link.path }}" class="nav-link">{{ link.title }}</a>
      </li>
      <li class="nav-item"><a class="nav-link" href="/faq" data-toggle="tab"><span class="glyphicon glyphicon-question-sign bi-question-circle-fill"></span> FAQ</a></li>
      <li class="nav-item"><a class="nav-link" href="/options" data-toggle="tab"><span class="glyphicon glyphicon-cog bi-cog bi-wrench"></span> Options</a></li>
    </ul>
    <!-- /.nav.navbar-nav -->
    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>
  </div>
  <!-- /.navbar-collapse -->
</nav>

<div class="container">
  <div class="row">
    <div class="col-md-12 text-center">
      <h1>{{ title }}</h1>
      <p class="lead">Contribute to the guide at the <a href="https://github.com/dudekaa/dark-souls-remastered-cheat-sheet">GitHub Page</a></p>
    </div>
  </div>

  <app-hide-completed-button [completedState]="hideCompleted" (hideCallback)="buttonHideCompletedClick($event)"></app-hide-completed-button>

  <router-outlet></router-outlet>
</div>
