<h3 id="{{ data.title | encodeFragment }}">
  <a (click)="options.isCollapsed = !options.isCollapsed" [attr.aria-expanded]="!options.isCollapsed" data-bs-toggle="collapse" class="btn btn-primary btn-collapse btn-sm"></a>
  <a *ngIf="data.url !== undefined && data.url !== ''" href="{{ data.url }}">{{ data.title }}</a>
  <span *ngIf="data.url === undefined || data.url === ''">{{ data.title }}</span>
  <app-counting-badge [have]="0" [total]="100"></app-counting-badge>
</h3>
<p *ngIf="data.description && !options.isCollapsed">{{ data.description }}</p>
<ul id="{{ data.title | encodeFragment }}_col" [(ngbCollapse)]="options.isCollapsed">
  <li *ngFor="let item of data.items; index as i" data-id="playthrough_{{ instanceId }}_{{ i+1 }}" [ngClass]="item.metadata" [innerHtml]="item.description"></li>
</ul>
